Name      OC102
Input_0  OC102_PH.dat Phot sinusoids
Input_1  OC102_RV.dat RV kepler sinusoids
Output    OC102_test_fast
Nplanets  1
Planet_0   5    20.0     25.0  40.0  50.0    0.00 0.4
Prot      4     8.00     10.00
Period_0  5000 6250 4 4
Period_1  6250 7000 4 4
Ngen        500
Nsteps     5000
Nburn      4000
Npop_mult     2
Thin        100
