sphinx-book-theme
sphinx-design
sphinx-copybutton
sphinx-tippy
sphinx-hoverxref
sphinx-subfigure
numpy <= 1.26.4
myst-parser
myst-nb
matplotlib
scipy>=1.9,<1.12.0
astropy>=5.1
astroquery>=0.4
numba
argparse
emcee
pyyaml
h5py
h5py
tqdm
jaxlib
jax
tinygp
pygtc
ordered-set
